body{
    background-color: whitesmoke;
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin-top: 8em;
}

input{
    width: 100%;
}

/* Estilos para pantallas a partir de 768 px */
@media (min-width: 768px){
    form{
        width: 400px;
    }
}